* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    width: 100%;
    position: relative;
    font-family: 'Lato', sans-serif;

}

.speaker {
    width: 100%;
    height: 40px;
    background-color: black;

}

.speaker-icons {
    position: absolute;
    right: 4px;
    top: 0;
    color: white;
}

.speaker-icons span {
    background-color: rgb(104 100 100);
    border-radius: 5%;
    padding: 2px 5px;
    font-size: 11px;

}

.item-container {
    width: 100%;
    max-height: calc(100vh - 40px - 70px);
    margin: auto;
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 8px 5px;
    overflow: auto;

}

.item {
    flex-basis: 200px;
    position: relative;
}

.item img {
    width: 100%;
}

.item-text {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    bottom: 3px;
    color: white;
    font-size: 16px;
}


.controller {
    width: 100%;
    height: 70px;
    background-color: rgb(56 56 56);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;

}

.controller i {
    color: white;
    font-size: 30px;
}

.left,
.middle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0px 15px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    padding-left: 10px;
}

.middle-icon i,
.left-icon i {
    display: block;
    text-align: center;
    padding-bottom: 5px;
}

#arrow-up {
    font-size: 14px;
}

#green {
    color: rgb(25, 176, 25);
}

.controller .right {
    padding: 0% 1%;
    height: 100%;
    color: red;
    font-size: 13px;
    font-weight: bold;
    background-color: gray;
    line-height: 70px;
}

/* .controller-icon {
    display: inline-block;
} */


/* //////////////////////////DEBUG////////////////////////// */
/* .view-container,
.speaker,
.main.container,
.controller {
    background-color: aqua;
    border: 1px solid;
} */